.warranty-page h2 {
  margin: 2.8rem 0 1.2rem;
}

.warranty-page p {
  margin: 0;
  font-size: 1.6rem;
  line-height: 1.6;
}

.warranty-page p + p {
  margin-top: 1.2rem;
}

@media screen and (min-width: 750px) {
  .warranty-page h2 {
    margin-top: 3.2rem;
  }
}
