.warranty-page__header {
  margin-bottom: 3rem;
}

.warranty-page__header p {
  margin: 0;
  font-size: 1.6rem;
  line-height: 1.6;
}

.warranty-page__section + .warranty-page__section {
  margin-top: 2.8rem;
}

.warranty-page__section h2 {
  margin: 0 0 1.2rem;
}

.warranty-page__section p {
  margin: 0;
  font-size: 1.6rem;
  line-height: 1.6;
}

.warranty-page__section p + p {
  margin-top: 1.2rem;
}

@media screen and (min-width: 750px) {
  .warranty-page__header {
    margin-bottom: 4rem;
  }

  .warranty-page__section + .warranty-page__section {
    margin-top: 3.2rem;
  }
}
